@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>Created by @ViewData["Student"]</h3><br />

<address>
    <strong>More Information: <a href="https://www.udemy.com/">Udemy.com</a></strong>
</address>
